/* Подключение семейства шрифтов 'Gilam', sans-serif; */
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#100_GilamThin.otf);
    font-weight: 100;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#200_GilamExtraLight.otf);
    font-weight: 200;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#300_GilamLight.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#400_GilamBook.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#500_GilamRegular.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#600_GilamSemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#700_GilamBold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#800_GilamHeavy.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(/FONT/Gilam-cdnfonts/#900_GilamBlack.otf);
    font-weight: 900;
}

/* Подключение семейства шрифтов 'Circe', sans-serif; */


@font-face {
    font-family: 'Circe', sans-serif;
    src: url(/FONT/Circe-cdnfonts/#300_CRC25.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Circe', sans-serif;
    src: url(/FONT/Circe-cdnfonts/#350_CRC35.otf);
    font-weight: 350;
}

@font-face {
    font-family: 'Circe', sans-serif;
    src: url(/FONT/Circe-cdnfonts/#400_CRC55.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Circe', sans-serif;
    src: url(/FONT/Circe-cdnfonts/#700_CRC65.otf);
    font-weight: 700;
}