@import url(reset.css);
@import url(fonts.css);
/* шрифты поключены через отдельный файл */
/* стилизация в rem - так будет удобнее масштабтровать макет через изменения в корневом элементе html */
/* используемые шрифты: 
- font-family: 'Gilam', sans-serif;
    100-900 (с шагом 100)
- font-family: 'Circe', sans-serif;  300/350/400/700 */

/* ЭТО НАСТРОЙКИ КОРНЕВОГО ЭЛЕМЕНТА------------------------------------------------------------------ */

html{
    background-color:#E5E5E5; 
    /* font-size: 10px; */
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Настраиваем ОБЁРТКУ ВСЕГО МАКЕТА------------------------------------------------------------------ */

.body__wrapper{
    width: 120rem;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    background-color: #171717;
   
}
.body__wrapper:hover{
    background: url(../IMG/6._BACKGROUNDS/body-wrapper__bricks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 6s;

}

/* Настраиваем БОКС СТРАНИЦЫ (для более удобной верстки главного контента)------------------------------------------------------------------ */

.page__box{
    width: 91.25rem;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

}

/* Настраиваем header */
.header{
    height: 5.44rem;
}
/* Настраиваем main - прижимаем footer  к низу страницы  */
.main{
    flex: 1 1 auto;

    display: flex;
    flex-flow: column wrap;
}
/* Настраиваме footer - задаем высоту - он прижмется всегда к низу за счет роста main */
.footer{
    height: 17.74rem;
}

/* ЭТО НАСТРОКИ СОДЕРЖИМОГО БЛОКА HEADER ------------------------------------------------------------------ */

/* Настраиваем блок навигации header */
.header__navbar{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
/* Настраиваем меню навигации в header */
.header__navigation-menu{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
/* Настраиваем пункт меню навигации с кнопкой обратной связи*/
.header-menu__item:hover{
    transform:scale(1.5);
    transition-duration: 0.5s;
}
.header-menu__item:active{
    background-color: whitesmoke;
}

.header-menu__link_callback{
    display: block;
    position: relative;

    padding: 0.63rem 1.57rem 0.63rem 3.06rem;
    border: 0.0625rem solid #E4B564;

    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-decoration: none;
    
    color: #E4B564;
}

.header-menu__link_callback::before{
    content: "";
    display: block;
    position: absolute;

    width: 0.81rem;
    height: 0.81rem;

    left: 1.63rem;
    bottom: 1.2rem;

    background-image: url(../IMG/5._ICONS/Callback.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
   
/* ЭТО НАСТРОКИ СОДЕРЖИМОГО БЛОКА MAIN ------------------------------------------------------------------ */

/* Это стилизация 1-й статьи "Наружные тепловые сети" - heat-network__article */
/* ------------------------------------------------------------------ */
/* основной блок статьи */
.heat-network__article{
    width: 100%;

    flex: 1 1 auto;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Настраиваем загловок статьи */
.heat-network__title{
    
    display: block;
    margin-top: 8rem;
    position: relative;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 1.75rem;
    
    color: #FFFFFF;

}

/* Настраиваем эффекты для заголовка статьи */

.heat-network__title:hover{
    transform:scale(1.03);
    transition-duration: 0.5s;
    text-shadow: 0.125rem 0.125rem 0.125rem #E4B564;
    text-decoration:dashed;
}

.heat-network__title:hover::after{

    content: "";
    display: block;
    position: absolute;
    transform: scale(1.5);
    transition-duration: 0.5s;

    width: 4rem;
    height: 4rem;

    right: -6rem;
    bottom: -0.5rem;

    /* background-color: #E4B564; */
    background-image: url(../IMG/5._ICONS/heat-network_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}



/* Настраиваем подзаголовок статьи - краткая информация после заголовка */
.heat-network__subtitle{
    margin-top: 2.56rem;
    margin-bottom: 2.56rem;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    
    color: #FFFFFF;
}

/* Настраиваем грид-бокс - heat-network__grid-box- для основного контента статьи */

/* шаг 1 - делаем бокс - галлерею - это контейнер - так будет удобнее в дальнейшем 
переносить модуль на др. страницу */
.heat-network__gallery{
    width: 100%;
}
/* шаг 2 настраиваем грид-бокс на базе тега ul */
.heat-network__grid-box{
    width: 100%;

    display: grid;
    grid-template-columns: 32% 1fr 1fr 32%;
    /* grid-template-columns: 29.19rem 1fr 1fr 29.19rem; - можно и так */
    grid-template-rows: repeat(2, 29.25rem);
    gap: 1.69rem 1.88rem;
}

/* Настройка grid-элементов */
.item_earthworks{
    background-color: #634F2C;
}

.item_pipe-laying{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #B4A385;

}
.item_sewer-line{
    background-color: #E4B564;
}

.item_fixed-support{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: #635A4A;

}

.item_concrete-well{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: #B08C4D;
}

/* Настраиваем элементы li - элементы галлереи со ссылками */
.heat-network__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    position: relative;
}
/* Настраиваем эффекты для элементов галлереи со ссылками */

.heat-network__item:hover{
    transform: scale(1.1);
    transition: 0.5s;
    transform: translateY(-0.938rem);
}
/* Настройка изображений для элементов галлереи со ссылками */
.heat-network__item img{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: grayscale(1);
    bottom: 0;
    left: 0;
    z-index: -1;
}

.heat-network__item img:hover{
    filter: grayscale(0%);
    transition: 2s;
    
}
/* Настройка ссылок - заголовков для элементов  */
.heat-network-item__link_title{
    position: absolute;
    top: center;
    left: center;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

    border: none;
}
.heat-network-item__link_title:hover{
    transform: scale(1.01);
    transition: 0.9s;
    text-transform: uppercase;

}



/* Это стилизация 2-й статьи "Собственный парк строительной техники" - machinery-park__article */
/* ------------------------------------------------------------------ */

/* Основной блок статьи */
.machinery-park__article{
    height: 85.70rem;
}
/* Заголовок статьи */
.machinery-park__title{
    margin-top: 10.06rem;
    margin-bottom: 5.88rem;
    position: relative;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 1.75rem;
    color: #FFFFFF;

}
/* Настройка эффектов заголовка статьи */

.machinery-park__title:hover{
    transform:scale(1.03);
    transition-duration: 0.5s;
    text-shadow: 0.125rem 0.125rem 0.125rem #E4B564;
    text-decoration:dashed;
}

.machinery-park__title:hover::after{
    content: "";
    display: block;
    position: absolute;
    transform: scale(1.5);
    transition-duration: 0.5s;

    width: 3.5rem;
    height: 3.5rem;

    left: 70rem;
    bottom: -0.8rem;


    background-image: url(../IMG/5._ICONS/machinery-park__logo.png);
    color: #E4B564;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}



/* Настраиваем grid-бокс -machinery-park__grid-box- для основного контента статьи */
/* Тут целесообразно делать именно flex, поскольку есть неравные отступы от нижней части блока */

/* шаг 1 - делаем бокс - галлерею - так будет удобнее в дальнейшем переносить модуль на др. страницу */
.machinery-park__gallery{
    width: 100%;
}
/* шаг 2 настраиваем grid-бокс на базе тега ul */

.machinery-park__grid-box{
    display: grid;

    grid-template-columns: repeat(3, 29.19rem);
    grid-template-rows: 15.94rem 2rem 6.32rem 7.63rem 16.06rem 0.125rem;
    grid-gap: 1.625rem 1.625rem;
}

/* Настройка grid-элементов */

.item_KAMAZ-sludge{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: #0E0E0E;
}

.item_KAMAZ-washing{
    grid-column: 2 / 2;
    grid-row: 1 / 4;

    background-color:  #242424;
}

.item_backhoe-loader{

    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: #1F1F1F;;
}

.item_loader{

    grid-column: 1 / 2;
    grid-row: 3 / 7;

    background-color: #1F1F1F;;

}
.item_excavator{

    grid-column: 2 / 3;
    grid-row: 4 / 6;

    background-color: #E4B564;
}


.item_KAMAZ-flatbed-truck{

    grid-column: 3 / 4;
    grid-row: 2 / 5;

    background-color:  #0E0E0E;

}
.item_road-roller{

    grid-column: 3 / 4;
    grid-row: 5 / 7;

    background-color: #0A0909;
}

/* Настраиваем элементы li - элементы галлереи со ссылками */
.machinery-park__item{
    display: flex;
    flex-flow: column wrap;

    overflow: hidden;
    position:relative;
    font-size: 0;
}

.machinery-park__item:hover{
    transform: scale(1.1);
    transition: 0.9s;
    background-color: #E4B564;
}

/* Настройка названия элемента - оно же - активная ссылка */
.machinery-park-item__title{
    display: inline-block;

    margin-left: 2.69rem;
    margin-top: 2.75rem;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: #FFFFFF;
    text-decoration: none;
   
}
/* Отдельная стилизация надписи Экскаватора - черным */
.link_excavator {
    color: #000000;
}

/* Настройка названия марки авто - она так же активная ссылка  */
.machinery-park-item__title_mark_auto{
    display: inline-block;
    margin-left: 2.82rem;
    margin-top: 0.125rem;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: #FFFFFF;
    text-decoration: none;
    
}
.machinery-park-item__title:hover, 
.machinery-park-item__title_mark_auto:hover{
    transform: scale(1.15);
    transition: 0.9s;

}
/* Настройки изображений  */
.machinery-park__item img{

    max-width: 100%;
  
    display: inline-block;
    object-fit: cover;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    filter: grayscale(1);
    z-index: -1;

}
.machinery-park__item img:hover{
    filter: grayscale(0%);
    transition: 1.3s;
}

/* Это стилизация 3-й статьи "Наши клиенты и проекты" -customers-pojects__article */
/* ------------------------------------------------------------------ */


/* основной блок статьи */
.customers-pojects__article{
    height: 65.87rem;

}
/* Бокс заголовка статьи */
.customers-pojects__title-box{
    display: flex;
    height: 17rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

}
/* Заголовок статьи */
.customers-pojects__title{

    font-size: 3.13rem;
    margin-bottom: 4.5rem;

    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 1.75rem;
    color: #FFFFFF;

}
/* Настройка эффектов заголовка */
.customers-pojects__title:hover{
    transform:scale(1.03);
    transition-duration: 0.5s;
    text-shadow: 0.125rem 0.125rem 0.125rem #E4B564;
    text-decoration:dashed;

}
.customers-pojects__title:hover::after{
    content: "";
    display: block;
    position: absolute;
    transform: scale(1.5);
    transition-duration: 0.5s;

    width: 3rem;
    height: 3rem;

    right: -6rem;
    bottom: -0.5rem;

    /* background-color: #E4B564; */
    background-image: url(../IMG/5._ICONS/customers-poject__logo.png);
    color: #E4B564;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

/* Линк на дополнительную информацию по проектам */
.customer-projects__link_info{
    display: block;
    padding: 0.63rem 2.5rem 0.63rem 2.5rem;
    margin-bottom: 3.81rem;
    border: 1px solid #E4B564;

    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.88rem;
    text-decoration: none;

    color: #E4B564;
}

.customer-projects__link_info:active{
    background-color: whitesmoke;
}
.customer-projects__link_info:hover{
    transform:scale(1.5);
    transition-duration: 0.5s;
}

/* Настраиваем грид-бокс - customers-poject__grid-box- для основного контента статьи */
/* шаг 1 - делаем бокс - галлерею - так будет удобнее в дальнейшем переносить модуль на др. страницу */
.customers-poject__gallery{
    width: 100%;
}
/* шаг 2 настраиваем грид-бокс на базе тега ul */

.customers-poject__grid-box{
    display: grid;
    grid-template-columns: repeat(3, 30.44rem);
    grid-template-rows: repeat(2, 24.44rem);
}

/* Настройка grid-элементов */

.item_up-right-Arsenal-group{
    background-color: #E4B564;
}
.item_down-left-Arsenal-group{
    background-color: #635A4A;;
}
.item_Setlgroup{
    background-color:  #B08C4D;
}
.item_down-right-EID-Euroinvest-Dev{
    background-color: #634F2C;
}
.item_up-left-EID-Euroinvest-Dev{
    background-color: #634F2C;
}

/* Настраиваем элементы li - элементы галлереи со ссылками */
.customers-poject__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.customers-poject__item:hover{
    border: 0.25rem solid #FFFFFF;
    transform: translateY(-0.75rem);
    transition: 0.3s;
}
/* Настройки активной ссылки - изображения */
.customers-pojects__img_link:hover{
    transform:scale(1.8);
    transition-duration: 0.5s;

}
/* Настройки активной ссылки - текст */
.customers-pojects__text_link:focus, .customers-pojects__text_link:hover{
    transform:scale(1.1);
    transition-duration: 0.5s;
    text-decoration: underline;
}

/* Насткройка лого для ссылки */
.item_Mavis-logo{
    background-color: #E8D2AB;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.text-link_Mavis-logo{
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.75rem;
    text-decoration: none;

    text-align: center;

    padding-left: 5rem;
    padding-right: 5rem;

    color: #FFFFFF;
}


/* ------------------------------------------------------------------ */

/* 
-РАСШИФРОВКА СТРУКТУРЫ КЛАССОВ- 


.body__wrapper - обёртка body
    .page__box - обёртка внутри страницы
        .header
            .header__navbar navbar
            .header__navigation-menu header-menu
            .header-menu__item
            .item_callback
                .header-menu__link_logo
                .header-menu__link_callback
        .main
            .heat-network__article - Наружные тепловые сети- 
                .heat-network__title
                .heat-network__subtitle
                .heat-network__gallery
                    .heat-network__grid-box
                        1.heat-network__item item_earthworks - Земляные работы- 
                            .heat-network-item__link_title
                            .heat-network__img_link link_earthworks
                        2.heat-network__item item_pipe-laying - Подземная прокладка трубопроводов и вводы в здание- 
                            .heat-network-item__link_title
                            .heat-network__img_link link_pipe-laying
                        3.heat-network__item item_sewer-line - Устройство каналов - 
                            .heat-network-item__link_title
                            .heat-network__img_link link_sewer-line
                        4.heat-network__item item_fixed-support - Устройство неподвижных опор вне камер- 
                            .heat-network-item__link_title
                            .heat-network__img_link link_fixed-support
                        5.heat-network__item item_concrete-well - Устройство ж/б колодцев- 
                            .heat-network-item__link_title
                            .heat-network__img_link link_concrete-well

            .machinery-park__article - Собственный парк строительной техники:- 
                .machinery-park__title
                .machinery-park__gallery
                .machinery-park__grid-box
                    1.machinery-park__item item_KAMAZ-sludge - Илососная машина- 
                        .machinery-park-item__title
                        .machinery-park-item__title_mark_auto
                        .machinery-park__img_link link_KAMAZ-sludge
                    2.machinery-park__item item_KAMAZ-washing- Каналопромывочная мaшина- 
                        .machinery-park-item__title
                        .machinery-park-item__title_mark_auto
                        .machinery-park__img_link link_KAMAZ-washing 
                    3.machinery-park__item item_backhoe-loader- Экскаватор-погрузчик - 
                        .machinery-park-item__title
                        .machinery-park__img_link link_backhoe-loader 
                    4.machinery-park__item item_loader - Погрузчик- 
                        .machinery-park-item__title
                        .machinery-park__img_link link_loader 
                    5.machinery-park__item item_excavator - Экскаватор- 
                        .machinery-park-item__title
                        .machinery-park__img_link link_excavator
                    6.machinery-park__item item_KAMAZ-flatbed-truck - КАМАЗ бортовой с КМУ - 
                        .machinery-park-item__title
                        .machinery-park__img_link link_KAMAZ-flatbed-truck
                    7.machinery-park__item item_road-roller - Каток -
                        .machinery-park-item__title
                        .machinery-park__img_link link_road-roller
            .customers-pojects__article - Наши клиенты и проекты - 
                .customers-pojects__title-box
                .customers-pojects__title
                .customer-projects__link_info
                .customers-poject__gallery
                .customers-poject__grid-box
                    1.customers-poject__item item_up-left-EID-Euroinvest-Dev
                        .customers-pojects__img_link
                    2.customers-poject__item item_Mavis-logo
                        .customers-pojects__img_link
                        .customers-pojects__text_link text-link_Mavis-logo
                    3.customers-poject__item item_up-right-Arsenal-group
                        .customers-pojects__img_link
                    4.customers-poject__item item_down-left-Arsenal-group
                        .customers-pojects__img_link
                    5.customers-poject__item item_Setlgroup
                        .customers-pojects__img_link
                    6.customers-poject__item item_down-right-EID-Euroinvest-Dev
                        .customers-pojects__img_link
        .footer */